.idea/
vendor/
node_modules/
dist/
.idea
css/mainPage/studentList/*.css
css/mainPage/studentList/*.css.map

### Yii template
assets/*
!assets/.gitkeep
protected/runtime/*
!protected/runtime/.gitkeep
protected/data/*.db
themes/classic/views/
