.group-area-content {
    display: grid;
    grid-template-areas: "group-coordination middle-space group-info" "coordination-table middle-space info-table";
    grid-template-columns: 4fr 2fr 4fr;
    grid-template-rows: 1fr 8fr;
}

.group-coordination {
    grid-area: group-coordination;
    width: 100%;
    height: 100%;
    display: table;
    padding-left: 30px;
}

.text {
    display: table-cell;
    vertical-align: middle;
    font-size: 100%;
    font-weight: bold;
}

.group-info {
    grid-area: group-info;
    width: 100%;
    height: 100%;
    display: table;
}

.coordination-table {
    grid-area: coordination-table;
    margin-left: 30px;
}

.coordination-table td:nth-child(2n+2) {
    font-style: italic;
}

table, th, td {
    border: 2px solid lightgrey;
    border-collapse: collapse;
}

.group-info-tables th, .group-info-tables td {
    padding: 12px;
}

th {
    background-color: #F0F0F0;
}

.info-table {
    grid-area: info-table;
}

.middle-space {
    grid-area: middle-space;
}

@media screen and (max-width: 926px) {
    .group-area-content {
        grid-template-areas: "group-coordination" "coordination-table" "group-info" "info-table";
        grid-template-columns: 100%;
        grid-template-rows: 1fr auto 1fr auto;
    }
}

