header {
    position: relative;
}

.profile_picture {
    margin-top: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.profile_block {
    position: fixed;
    top: 0;
    right: -9%;
    z-index: 2;
    background-color: #323232;
    height: 100%;
    width: 10%;
    opacity: 0;
    -webkit-transition: right 0.5s ease-out, opacity 0.5s;
    transition: right 0.5s ease-out, opacity 0.5s;
}

.profile_block:hover {
    right: 0px;
    opacity: 1;
}

.profile_block.clicked {
    right: 0px;
    opacity: 1;
}

.cogwheel_picture,
.logout {
    position: absolute;
    right: 10%;
    width: 20%;
    cursor: pointer;
}

.cogwheel_picture {
    top: 7%;
}

.logout {
    bottom: 7%;
}

.user_info {
    position: relative;
    margin-top: 100%;
}

.user_picture {
    margin-left: 5%;
    width: 90%;
}

.user_name,
.user_surname,
.user_role {
    text-align: center;
    margin: 0;
    color: white;
}

.user_name {
    margin-top: 20px;
}

.user_role {
    margin-top: 20px;
}
